body{
	text-align:center;
	background-color:#2E2E2E;
}

#h1{
	  color:#8A0808;
	  font:font-family: 'Galada', cursive;;

}

.space{
	height: 98px;
	width: 98px;
	border:solid;
	border-width: 1px;
	border-color:black;;
	float: left;
}

#display{
	height: 100px;
	font-family: times;
	font-size: 40px;
	background-color: lightgrey;
	color: #610B0B;
} 
#gameWrapper{
	height: 200px;
	width: 300px;
	display: inline-block;

}

#monster{
	width: 300px;
	height: 100px;
/*	background-color: blue;*/
}
#player{
	width: 300px;
	height: 100px;
/*	background-color: yellow;*/

}
