body{
	text-align:center;
	background-image:"assets/lava world.jpeg";
}

#h1{
	  color:darkblue;

}

.space{
	height: 98px;
	width: 98px;
	border:solid;
	border-width: 1px;
	border-color: black;
	float: left;
}

#display{
	height: 100px;
	font-family: sans-serif;
	font-size: 40px;
	background-color: black;
	color: red;
} 
#gameWrapper{
	height: 200px;
	width: 300px;
	display: inline-block;
}

#monster{
	width: 300px;
	height: 100px;
/*	background-color: blue;*/
}
#player{
	width: 300px;
	height: 100px;
/*	background-color: yellow;*/

}